DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=duopratic
PORT=3000
JWT_SECRET=troque_este_valor_por_uma_string_longa_e_aleatoria
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
GEMINI_API_KEY=insira_sua_chave_da_api_google_aqui
